.DS_Store
.kiro/
.vscode/
.env
node_modules/

ml_service/data/raw/openfoodfacts
__pycache__
backend/data/usda_clean.json


ml_service/data/build
ml_service/.venv/
build/
.venv/
.env
android/app/build/
android/build/
android/local.properties
*.apk
*.aab
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties
*.apk
*.aab
